*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --dk-violet: hsl(268, 75%, 9%);
    --lt-violet: hsl(268, 47%, 21%);
    --lt-violet2: hsl(281, 89%, 26%);
    --vb-violet: hsl(285, 91%, 52%);
    --vb-violet2: hsl(290, 70%, 36%);
    --vb-yellow: hsl(52, 100%, 62%);
    --pl-white: hsl(0, 0%, 100%);
    --vb-cyan: hsl(176, 100%, 44%);
    --vb-cyan2: hsl(177, 92%, 70%);
    --dk-text: hsl(198, 20%, 13%);
}

.wrapper{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background: linear-gradient(231deg, rgba(22, 6, 40, 1) 0%, rgba(52, 28, 79, 1) 50%, rgba(88, 7, 125, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    padding: 1em;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 2px solid white; */
}

.heading{
    color: var(--pl-white);
    opacity: 0.75;
    text-transform: uppercase;
    font-size: 38px;
    font-weight: 800;
    letter-spacing: 2px;
    text-align: center;
    line-height: 1.2;
}


.first_div{
    width: 100%;
    padding:0 1em;
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: var(--dk-violet);
    border-radius: 1rem;
    margin: 1rem 0;
    padding-top: 0.35rem;
    border-bottom: 0.35rem solid var(--lt-violet2);
}

.first_div #pass{
    width: 100%;
    background-color: transparent;
    padding: 1.15rem 1rem;
    color: var(--vb-yellow);
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 30px;
    letter-spacing: 1px;    
    padding-right: 3.25rem;
}

.copybtn{
    padding: 1.15rem 1rem;
}

.copybtn:hover{
    cursor: pointer;
}

.second_div{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--dk-violet);
    border-radius: 1rem;
    margin: 1rem 0;
    padding-top: 0.35rem;
    border-bottom: 0.35rem solid var(--lt-violet2);
    padding: 1.15rem 2rem;
}

.pass_len{
    position: relative;
    padding-top: 1em;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.pass_len h1{
    color: white;
}

.length{
    color: var(--vb-yellow);
    font-size: 1.8rem;
}

.slider{
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    cursor: pointer;
    background: var(--lt-violet);
    border-radius: 1rem;
    background-image: linear-gradient(var(--vb-violet), var(--vb-violet));
    background-repeat: no-repeat;
}

.label_text{
    color: var(--pl-white);
    font-size: 1.75rem;
    letter-spacing: 1.5px;
}

.checkbox_div{
    margin-bottom: 1em;
}

.checkbox {
    color: var(--dk-text);
    width: 25px;
    height: 1.5rem; 
    font-weight: 600;
    transform: translateX(0%);
    accent-color: var(--vb-cyan);
    border: 2px solid var(--vb-cyan2); 
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none; 
    -moz-appearance: none; 
    background-color:var(--dk-violet) ;
    position: relative;
}

.checkbox:checked {
    background-color: var(--vb-cyan); 
    border-color: var(--vb-cyan2); 
}

.checkbox:checked::before {
    content: '✔';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.4rem; 
    color: black; 
}

.strength_section{
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.circle{
    position: relative;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: green;
    /* box-shadow: linear-gradient(145deg, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%); */
}

.generate_buttom{
    width: 100%;
    margin-top: 3rem ;
    margin-bottom: 1.5rem;
    padding: 1rem 0;
    background-color: var(--vb-violet);
    text-align: center;
    border-radius: 0.75rem;
    border-bottom: 0.35rem solid var(--vb-yellow);
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--vb-yellow);
    font-weight: 600;
    font-size: 1.25rem;
}

.generate_buttom:hover{
    cursor: pointer;
}


